.clearfix:after{
  content: '';
  display: table;
  overflow: hidden;
}
.clearfix{
  overflow: hidden;
}
.cfff{
  color: #fff;
}
.c999 {
  color: #999;
}
.c666 {
  color: #666;
}
.c333 {
  color: #333;
}
.relative, .rela {
  position: relative;
}

.ftc {
  text-align: center;
}
.changepop p.ft20.c666 {
  font-size: 16px;
}

.ft20 {
  font-size: 20px;
}
.ft14{
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft17 {
  font-size: 17px;
}
.mt15{
  margin-top: 15px;
}
.pl5 {
  padding-left: 5px;
}
.mb10, .mb {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.page-line{
  height: 10px;
}
.bgfff{
  background-color: #fff;
}
.fl{
  float: left;
}
.dib {
  display: inline-block;
}
.mt20{
  margin-top: 20px;
}
.ml10{
  margin-left: 10px;
}
.pl10, .pl {
  padding-left: 10px;
}
.pb5 {
  padding-bottom: 5px;
}
.pr10, .pr {
  padding-right: 10px;
}
.pt5 {
  padding-top: 5px;
}
.pad10 {
  padding: 10px;
}
.hottype {
  padding: 0;
}
.hide{
  display: none;
}
.block, .db {
  display: block;
}
.ftr {
  text-align: right;
}
.cred {
  color: red;
}
.mt5 {
  margin-top: 5px;
}
a {
  color: #333;
}
.relative, .rela {
  position: relative;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  vertical-align: middle;
}
body {
  line-height: 1.6;
  font-family: 'Microsoft Yahei',-apple-system-font,Helvetica Neue,sans-serif;
}
.find_nav_list ul li.on i {
  background: #459d36;
}
.find_nav_list li .rela{
  display: inline-block;
  height: 100%;
}
.more {
  position: absolute;
  top: 2px;
  right: -8px;
}
.more img {
  width: 50%;
}
.titmoudle .more {
  text-align: right;
  right: 0;
  top: 1px
}
.titmoudle .more img {
  max-width: inherit;
  max-height: inherit
}
.titmoudle img {
  max-width: 50%;
  max-height: 73px;
  margin: 0 auto
}
.titmoudle .rightimg img {
  margin: 0 0 0 auto
}
.more img, .more img {
  margin: 0 0 0 auto;
}
.find_nav_list li i {
  position: absolute;
  bottom: 1px;
  left: -10%;
  width: 120%;
  height: 2px;
}
.find_nav_list ul li.on span {
  color: #459d36;
  display: inline-block;
}
.floathearder {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 9;
  box-shadow: 2px 2px 2px #e9e9e9;
}
.xline{
  height: 10px;
  background-color:#f3f4f5 ;
}
img{
  max-width: 100%;
}
.flex{
  display: flex;
}
.cmallPlayIco {
  background: url(../img/play.png) 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
