/*.clearfix:after{
  content: '';
  display: table;
  overflow: hidden;
}*/
.clearfix{
  overflow: hidden;
}
.cfff{
  color: #fff;
}
.c999 {
  color: #999;
}
.c666 {
  color: #666;
}
.c333 {
  color: #333;
}
.relative, .rela {
  position: relative;
}

.ftc {
  text-align: center;
}
.changepop p.ft20.c666 {
  font-size: 16px;
}

.ft20 {
  font-size: 20px;
}
.ft14{
  font-size: 14px;
}
.ft16 {
  font-size: 16px;
}
.ft17 {
  font-size: 17px;
}
.mt15{
  margin-top: 15px;
}
.pl5 {
  padding-left: 5px;
}
.mb10, .mb {
  margin-bottom: 10px;
}
.mt20 {
  margin-top: 20px;
}
.page-line{
  height: 10px;
}
.bgfff{
  background-color: #fff;
}
.fl{
  float: left;
}
.dib {
  display: inline-block;
}
.mt20{
  margin-top: 20px;
}
.ml10{
  margin-left: 10px;
}
.pl10, .pl {
  padding-left: 10px;
}
.pb5 {
  padding-bottom: 5px;
}
.pr10, .pr {
  padding-right: 10px;
}
.pt5 {
  padding-top: 5px;
}
.pad10 {
  padding: 10px;
}
.hottype {
  padding: 0;
}
.hide{
  display: none;
}
.block, .db {
  display: block;
}
.ftr {
  text-align: right;
}
.cred {
  color: red;
}
.mt5 {
  margin-top: 5px;
}
a {
  color: #333;
}
.relative, .rela {
  position: relative;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
  vertical-align: middle;
}
body {
  line-height: 1.6;
  font-family: 'Microsoft Yahei',-apple-system-font,Helvetica Neue,sans-serif;
}
.find_nav_list ul li.on i {
  background: #459d36;
}
.find_nav_list li .rela{
  display: inline-block;
  height: 100%;
}
.more {
  position: absolute;
  top: 2px;
  right: -8px;
}
.more img {
  width: 50%;
}
.titmoudle .more {
  text-align: right;
  right: 0;
  top: 1px
}
.titmoudle .more img {
  max-width: inherit;
  max-height: inherit
}
.titmoudle img {
  max-width: 50%;
  max-height: 73px;
  margin: 0 auto
}
.titmoudle .rightimg img {
  margin: 0 0 0 auto
}
.more img, .more img {
  margin: 0 0 0 auto;
}
.find_nav_list li i {
  position: absolute;
  bottom: 1px;
  left: -10%;
  width: 120%;
  height: 2px;
}
.find_nav_list ul li.on span {
  color: #459d36;
  display: inline-block;
}
.floathearder {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 9;
  box-shadow: 2px 2px 2px #e9e9e9;
}
.xline{
  height: 10px;
  background-color:#f3f4f5 ;
}
img{
  max-width: 100%;
  vertical-align: middle;
}
.flex{
  display: flex;
}
.cmallPlayIco {
  background: url(../img/play.png) 0 0 no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
.sort-detail-list .hot-recom, .sort-detail-list .other-list {
  padding: 15px 5px 20px;
}
.bbtf3 {
  border-top: 1px solid #f3f4f5;
}
.sort-detail-list .hot-recom ul li, .sort-detail-list .other-list ul li {
  width: 33.33%;
  padding: 0 5px;
}
.hot-recom ul li.llogo{
   width: 50%!important;
 }

.mt10, .mt {
  margin-top: 10px;
}
.jian {
  width: 13px;
  height: 13px;
  top: 0;
  left: 5px;
}
.abs {
  position: absolute;
}
a img {
  border: 0;
}
li.llogo .img {
  border: 1px solid #f3f4f5;
  text-align: center;
  padding: 55px 10px 10px;
  /*background: url(../images/background/default-epet2.jpg) no-repeat center center #fff;*/
  /*background-size: 120px auto;*/
}
.loadimg-nofixed {
  /*background: url(../images/background/default-epet.png) no-repeat center center #f4f4f4;*/
  /*background-size: 120px auto;*/
  position: relative;
  padding-top: 100%;
}
.loadimg-nofixed .image {
  top: 0;
  left: 0;
  position: absolute;
}
li.llogo .lheight {
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 10px;
}
.lheight {
  height: 45px;
  max-width: 100%;
}
.hot-recom li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}
li.llogo .logo {
  font-size: 8px;
  padding: 0 2px;
  background: #e44b46;
  top: 0;
  right: 5px;
}

.cat-dog a.on span {
  background: #ff0000;
  color: #fff;
}
.cat-dog a span {
  background: #b9b9b9;
  color: #666;
  border-radius: 5px;
  font-size: 15px;
}
.divboximg .divimg a:last-child img {
  border-bottom: 0;
}
.module img {
  display: block;
}
.divimg img {
  width: 100%;
  display: block;
}

.round30 {
  border-radius: 30px;
}
.pb5 {
  padding-bottom: 5px;
}
.pt5 {
  padding-top: 5px;
}
.ml10, .ml {
  margin-left: 10px;
}
.mr10, .mr {
  margin-right: 10px;
}
.ftc {
  text-align: center;
}
.bgfff {
  background: #fff;
}
.hide {
  display: none;
}
.head-top.zcolo{
  color: #333
}
.head-top {
  height: 50px;
  line-height: 50px;
  position: relative;
  padding: 0 10px;
}
.bgfff {
  background: #fff;
}
.zcolor {
  color: #459d36;
}
.rela {
  position: relative;
}
.head-top .aback.go-back {
  background: url(../img/img.png) no-repeat;
  background-size: 234px 159px;
  height: 18px;
  width: 11px;
  background-position: -201px -10px;
  position: absolute;
  margin-top: 15px;
  left: 10px;
}
.topbar-title {
  width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.ft18 {
  font-size: 18px;
}
.head-top .zfont {
  position: absolute;
  right: 2.5em;
  top: 0;
}
.block, .db {
  display: block;
}
.ft16 {
  font-size: 16px;
}
.head-top.zcolor, .head-top .topbar-link {
  color: #333;
}
.zcolor {
  color: #459d36;
}
.Jbur {
  background: url(../img/img.png) no-repeat;
  background-size: 234px 163px;
  height: 18px;
  width: 17px;
  background-position: -217px -10px;
  position: absolute;
  top: 0;
  right: 10px;
  outline: 0;
}
.mla {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 100;
  cursor: pointer;
  margin-top: -37px;
  margin-right: -20px
}
.ml{
  margin-left: 10px;
}
.pull-right {
  float: right;
}
.header-quick {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  padding: 10px 0;
}
.header-quick a {
  display: inline-block;
  width: 25%;
  text-align: center;
  float: left;
}
.header-quick a span {
  display: block;
  height: 30px;
}
.header-quick a span.icon1, .header-quick a span.icon2, .header-quick a span.icon4, .header-quick a span.icon5 {
  background: url(../img/img.png) no-repeat;
  background-size: 234px 163px;
  height: 25px;
  width: 25px;
  margin: 0 auto;
}
.header-quick a span.icon1 {
  background-position: -172px -7px;
}
.header-quick a span.icon2 {
  background-position: -172px -49px;
}
.header-quick a span.icon4 {
  background-position: -172px -90px;
}
.header-quick a span.icon5 {
  background-position: -172px -133px;
}
.addressbox .btborder {
  border-bottom: 1px solid #e7e7e7;
}
.addressbox .yselect {
  background: #ffe6d9;
}
.ft14 {
  font-size: 14px;
}
.pad10 {
  padding: 10px;
}
.addressbox .btborder {
  border-bottom: 1px solid #e7e7e7;
}
.ft13 {
  font-size: 13px;
}
.cat-dog a {
  width: 33.33%;
}

